.form-group {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
}

.input-block {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
}

.input {
    display: block;
    height: 40px;
    width: 100%;
}

.input-base {
    border: 1px solid transparent;
    background-color: var(--light);
    color: var(--silver);
    border-radius: var(--spacing-10);
    padding: 0 0 0 20px;
}

.input-base-placeholder {
    height: 40px;
    font-family: var(--font-family-base);
    font-weight: 400;
    border-radius: var(--spacing-10);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 20px;
    cursor: text;

    &.center .input-base-placeholder__content {
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

.input-base-placeholder__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.input-base-placeholder__text {
    margin: 0;
    color: var(--silver);
}

.input-base-placeholder__icon + .input-base-placeholder__text {
    margin-left: var(--spacing-5);
}

.input-base-placeholder__icon svg path {
    fill: var(--silver);
}

.input-base:focus{
    color: var(--extra-dark);
    outline: none;
}

.input-base:focus + .input-base-placeholder .input-base-placeholder__content,
:not(.input-base[value=""]) + .input-base-placeholder .input-base-placeholder__content {
    opacity: 0;
    /*top: 50%;
    left: 10px;
    transform: translateX(0) translateY(-50%);*/
}

/*.input-base:focus + .input-base-placeholder .input-base-placeholder__text,
:not(.input-base[value=""]) + .input-base-placeholder .input-base-placeholder__text {
    opacity: 0;
}*/

.input-base:focus + .input-base-placeholder .input-base-placeholder__content .input-base-placeholder__icon svg path {
    fill: var(--extra-dark);
}

/* Alternative input */

.input-alt {
    font-weight: 400;
    border: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--btn-primary-color);
    margin: auto;
}

.input-alt:focus{
    outline: none;
    border-color: var(--color-purple);
}

.input-alt:focus + .input-alt-placeholder .input-alt-placeholder__text, :not(.input-alt[value=""]) + .input-alt-placeholder .input-alt-placeholder__text { 
    background-color: var(--white);
    font-size: var(--font-size-10);
    color: var(--silver);
    transform: translate(0, -145%);
}

.input-alt:focus + .input-alt-placeholder .input-alt-placeholder__text {
    border-color: var(--color-purple);
    color: var(--color-purple);
}

.input-alt-placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    pointer-events: none;
    display: flex;
    align-items: center;

    & .input-alt-placeholder__text {
        font-size: var(--font-size-14);
        background-color: transparent;
        transform: translate(0);
        color: var(--silver);
        transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
    }
}

.input-alt, .input-alt-placeholder {
    font-size: var(--font-size-14);
}

.hint {
    font-size: var(--font-size-12);
    font-weight: 400;
    margin-top: var(--spacing-10);
    color: var(--dark);
    line-height: 1;
}

.error {
    color: var(--danger);
}
