.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-block {
    max-width: 360px;
    width: 100%;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 0 6 rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;
}

.login-form {
    position: relative;

    & + .text-block {
        margin-top: 20px;
    }
}

.text-block {
    text-align: center;
    font-size: var(--font-size-12);
}

.title {
    font-size: var(--font-size-20);
    font-family: var(--font-family-base);
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 50px;
}

.input-contain {
    display: flex;
    position: relative;
    width: 100%;
}

input {
    font-family: var(--font-family-base);
    font-weight: 400;
    height: 40px;
    width: 100%;
    border: 0;
    border-bottom-width: 1px; /* Толщина линии внизу */
    border-bottom-style: solid; /* Стиль линии внизу */
    border-bottom-color: var(--btn-primary-color); /* Цвет линии внизу */
    margin: auto;
}

input:focus{
    outline: none;
    border-color: var(--color-purple);
}

input:focus + .placeholder-text .text, :not(input[value=""]) + .placeholder-text .text{
    background-color: --white;
    font-size: var(--font-size-10);
    color: var(--silver);
    transform: translate(0, -145%);
}

input:focus + .placeholder-text .text{
    border-color: var(--color-purple);
    color: var(--color-purple);
}

.placeholder-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    pointer-events: none;
    display: flex;
    align-items: center;

    & .text {
        font-size: var(--font-size-14);
        background-color: transparent;
        transform: translate(0);
        color: var(--silver);
        transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
    }
}

input, .placeholder-text{
    font-size: var(--font-size-14);
}

.text-gray {
    color: var(--gray);
}