/* .skeleton-loader {
    width: 100%;
    height: 40px;
    border-radius: var(--spacing-10);
    display: block;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      var(--light);
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1.5s infinite;
}

@keyframes shine {
    to {
        background-position: 100% 0, 0 0;
    }
}

.skeleton-input {
    height: 48px;
}

.skeleton-text {
    height: 16;
} */

.skeleton {
  display: inline-block;
  width: 100%;
  background-color: var(--color-gray-400);
  line-height: 1;
  border-radius: var(--spacing-6);
}

.skeleton-circle {
  border-radius: 50%;
  line-height: 0;
}

.skeleton-animation {
  animation: opacity-loading 2.5s infinite;
}

@keyframes opacity-loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}
