.chat {
    width: calc(100% - 320px);
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
}

.chat-container {
    width: 100%;
    padding: 80px 20px;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;

    &.empty {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}