.list {
  & .list-item {
    display: flex;
    align-items: center;
    min-height: 32px;
  }

  &.list-flush {
    & .list-item {
      border-bottom: 1px solid var(--light);
    }

    & .list-item:last-child {
      border-bottom-color: transparent;
    }
  }

  &.list-fluid {
    width: 100%;
  }
}
