.avatar {
    height: 34px;
    width: 34px;
    background-color: var(--color-gray-1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar_size_m {
    height: 48px;
    width: 48px;
}

.avatar_size_l {
    height: 130px;
    width: 130px;
}