.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--white);
}

.profile-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-color: #FBFBFB;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--light);
}

.profile-container,
.profile-container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-container {
    gap: 60px;
    max-width: 510px;
}

.profile-container.edit-form {
    max-width: 360;
}

.profile-container__header {
    & .user-avatar {
        margin-bottom: var(--spacing-20);
    }
}

.profile-container__info,
.profile-container__actions,
.profile-container__form__input-group {
    width: 100%;
}

.profile-container__form__input-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 50px;
}

.info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & .info-item__title,
    & .info-item__value {
        font-size: var(--font-size-13);
        line-height: 1;
    }

    & .info-item__value {
        color: var(--silver);
    }
}

.user-avatar {
    height: 130px;
    width: 130px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    & .user-avatar__overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
        font-size: var(--font-size-13);
        font-weight: 400;
        white-space: pre-line;
        background-color: var(--black);
        color: var(--white);
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: var(--common-transition);
    }

    &:hover .user-avatar__overlay {
        opacity: .5;
    }
}

.user-name {
    font-size: var(--font-size-16);
    font-weight: 500;
    text-align: center;
}

.link-red {
    color: var(--color-red);

    &:hover {
        color: var(--color-red-dark);  
    }
}
