:root {
    /* COLORS */
    --color-white: #FFFFFF;
    --color-gray-1: #EAEAF2;
    --color-gray-2: #8893A6;
    --color-gray-3: #495767;
    --color-gray-4: #121A23;
    --color-black: #000000;

    --color-blue-light: #DCECFF;
    --color-blue: #3369F3; 
    --color-blue-dark: #0350A8;
    --color-red-light: #FFE5EA;
    --color-red: #E31C1C;
    --color-red-dark: #B80020;
    --color-green-light: #DDF3E4;
    --color-green: #4CAF50;
    --color-green-dark: #2F6A31;
    --color-orange-light: #FFE0B3;
    --color-orange: #FF9900;
    --color-orange-dark: #CC7A00;
    --color-violet-light: #DABEF4;
    --color-purple: #8F3CDD;
    --color-purple-dark: #681FAD;
    --color-cyan-light: #C1F0F0;
    --color-cyan: #2EB8B8;
    --color-cyan-dark: #248F8F;
    --color-crimson-light: #FFD6E7;
    --color-crimson: #FF307C;
    --color-crimson-dark: #D10065;


    /* THEME COLORS */
    --primary:   var(--color-blue);
    --secondary: var(--color-crimson);
    --danger:    var(--color-red);
    --success:   var(--color-green);
    --warning:   var(--color-orange);
    --info:      var(--color-cyan);
    --white:     var(--color-white);
    --light:     var(--color-gray-1);
    --silver:    var(--color-gray-2);
    --gray:      var(--color-gray-3);
    --dark:      var(--color-gray-4);
    --black:     var(--color-black);

    --body-bg: var(--color-white);
    --body-color: var(--color-black);

    --link-primary-color: var(--primary);
    --link-primary-color-hover: #0e4ef1;
    --link-decoration: none;

    --btn-primary-color: var(--primary);
    --btn-primary-color-hover: #0e4ef1;

    --input-text-color: #292929;

    --chat-card-background-color: var(--white);
    --chat-card-background-color-hover: #F5F6FA;

    --nav-link-background-color: var(--white);
    --nav-link-background-color-hover: #F5F6FA;

    /* SPACING */
    --spacing-1: 1px;
    --spacing-2: calc(2 * var(--spacing-1));
    --spacing-3: calc(3 * var(--spacing-1));
    --spacing-4: calc(4 * var(--spacing-1));
    --spacing-5: calc(5 * var(--spacing-1));
    --spacing-6: calc(6 * var(--spacing-1));
    --spacing-7: calc(7 * var(--spacing-1));
    --spacing-8: calc(8 * var(--spacing-1));
    --spacing-9: calc(9 * var(--spacing-1));
    --spacing-10: calc(10 * var(--spacing-1));
    --spacing-11: calc(11 * var(--spacing-1));
    --spacing-12: calc(12 * var(--spacing-1));
    --spacing-13: calc(13 * var(--spacing-1));
    --spacing-14: calc(14 * var(--spacing-1));
    --spacing-15: calc(15 * var(--spacing-1));
    --spacing-16: calc(16 * var(--spacing-1));
    --spacing-17: calc(17 * var(--spacing-1));
    --spacing-18: calc(18 * var(--spacing-1));
    --spacing-19: calc(19 * var(--spacing-1));
    --spacing-20: calc(20 * var(--spacing-1));
    --spacing-25: calc(25 * var(--spacing-1));
    --spacing-30: calc(30 * var(--spacing-1));

    /* FONTS */
    --font-family-sans-serif:      'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-family-base:            var(--font-family-sans-serif);

    /* TYPOGRAPHY */
    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-24: 24px;
    --font-size-26: 26px;
    --font-size-28: 28px;
    --font-size-30: 30px;

    /* BORDER-RADIUS */
    --radius-1: 1px;
    --radius-2: 2px;
    --radius-3: 3px;
    --radius-4: 4px;
    --radius-5: 5px;
    --radius-6: 6px;
    --radius-7: 7px;
    --radius-8: 8px;
    --radius-9: 9px;
    --radius-10: 10px;

    /* SHADOW */
    --box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    --box-shadow-dropdown-menu: 0px 0px 6px rgba(0, 0, 0, 0.14);

    /* OPACITY */
    --opacity-25: 0.25;
    --opacity-50: 0.5;
    --opacity-75: 0.75;
    --opacity-100: 1;

    /* TRANSITION */
    --common-transition: all .3s ease-in;

    /* Z-INDEX */
    --zindex-modal: 5000;
}