.chat-card {
    display: flex;
    width: 100%;
    padding: var(--spacing-15);
    background-color: var(--chat-card-background-color);
    border-radius: var(--spacing-10);
    &:hover {
        background-color: var(--chat-card-background-color-hover);
        cursor: pointer;
    }
}

.chat-card__avatar {
    margin-right: var(--spacing-16);
}

.chat-card__chat-content {
    width: 100%;
}

.chat-card__chat-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: var(--spacing-16);
}

.chat-content__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    padding-bottom: var(--spacing-6);
}

.chat-content__text {
    max-height: 28px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-overflow: ellipsis;
    color: var(--color-gray-2);
}

.chat-info__date-time {
    font-size: 10px;
    font-weight: 500;
    color: var(--color-gray-2);
}