.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    font-family: var(--font-family-base);
    font-size: var(--font-size-14);
    font-weight: 400;
    color: var(--dark);
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: var(--spacing-10);
    background-color: transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:hover,
    &.active {
        background-color: var(--color-gray-1);
    }
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0;
}

.btn-square {
    height: 40px;
    width: 40px;
    min-width: 40px;
    padding: 0;
}

.btn-primary {
    background-color: var(--btn-primary-color);
    border-color: var(--btn-primary-color);
    color: var(--color-white);

    &:hover {
        background-color: var(--btn-primary-color-hover);
        border-color: var(--btn-primary-color-hover);
    }
}

.btn-gray {
    background-color: var(--btn-gray-color);
    border-color: var(--btn-gray-color);
    color: var(--color-gray-4);

    &:hover {
        background-color: var(--btn-gray-color-hover);
        border-color: var(--btn-gray-color-hover);
    }
}