.button {
    display: inline-block;
    font-size: var(--font-size-14);
    font-weight: 400;
    color: var(--button-color-black);
    background-color: var(--button-background-color-yellow);
    border: 1px solid var(--button-background-color-yellow);
    border-radius: var(--radius-5);
    padding: calc(var(--spacing-7) * 2);
    cursor: pointer;
    user-select: none;
    transition: var(--common-transition);
}

.button:hover,
.button:focus,
.button:active {
    background-color: var(--button-background-color-hover-yellow);
    border-color: var(--button-background-color-hover-yellow);
}

.button:focus {
    outline: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.disabled {
    pointer-events: none;
    opacity: var(--opacity-75);
}