.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    padding: 0 var(--spacing-20);
    font-family: var(--font-family-base);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-5);
    color: var(--dark);
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: var(--spacing-10);
    background-color: transparent;
    transition: var(--common-transition);

    &:hover,
    &.active {
        background-color: var(--color-gray-1);
    }
}

.btn-sm {
    min-height: 32px;
    padding: 0 var(--spacing-15);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-4);
}

.btn-lg {
    min-height: 48px;
    padding: 0 var(--spacing-25);
    font-weight: var(--font-weight-5);
}

.btn-xl {
    min-height: 56px;
    padding: 0 var(--spacing-30);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-6);
}

.btn-fluid {
    display: block;
    width: 100%;
}

.btn-rounded {
    border-radius: 50px;
}

.btn-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0;
}

.btn-square {
    height: 40px;
    width: 40px;
    min-width: 40px;
    padding: 0;
}

.btn-circle,
.btn-square {
    &.btn-sm {
        height: 32px;
        width: 32px;
    }
    
    &.btn-lg {
        height: 48px;
        width: 48px;
    }
    
    &.btn-xl {
        height: 56px;
        width: 56px;
    }
}

.btn-link {
    &.btn-primary {
        background-color: transparent;
        border-color: transparent;
        color: var(--btn-primary-color);
        &:hover {
            color: var(--color-white);
        }
    }

    &.btn-secondary {
        background-color: transparent;
        border-color: transparent;
        color: var(--btn-secondary-color);
        &:hover {
            color: var(--color-white);
        }
    }

    &.btn-light {
        background-color: transparent;
        border-color: transparent;
        color: var(--btn-gray-color);
        &:hover {
            color: var(--color-gray-4);
        }
    }
}

.btn-outline {
    border-color: var(--dark);

    &.btn-primary {
        background-color: transparent;
        border-color: var(--btn-primary-color);
        color: var(--btn-primary-color);
        &:hover {
            color: var(--color-white);
            & svg path {
                fill: var(--color-white);
            }
        }
        & svg path {
            fill: var(--btn-primary-color);
        }
    }

    &.btn-secondary {
        background-color: transparent;
        border-color: var(--btn-secondary-color);
        color: var(--btn-secondary-color);
        &:hover {
            color: var(--color-white);
            & svg path {
                fill: var(--color-white);
            }
        }
        & svg path {
            fill: var(--btn-secondary-color);
        }
    }

    &.btn-light {
        background-color: transparent;
        border-color: var(--color-gray-2);
        &:hover {
            color: var(--color-gray-4);
            & svg path {
                fill: var(--color-gray-4);
            }
        }
        & svg path {
            fill: var(--color-gray-4);
        }
    }
}

.btn-primary {
    background-color: var(--btn-primary-color);
    border-color: var(--btn-primary-color);
    color: var(--color-white);
    &:hover {
        background-color: var(--btn-primary-color-hover);
        border-color: var(--btn-primary-color-hover);
    }
    & svg path {
        fill: var(--color-white);
    }
}

.btn-secondary {
    background-color: var(--btn-secondary-color);
    border-color: var(--btn-secondary-color);
    color: var(--color-white);
    &:hover {
        background-color: var(--btn-secondary-color-hover);
        border-color: var(--btn-secondary-color-hover);
    }
    & svg path {
        fill: var(--color-white);
    }
}

.btn-light {
    background-color: var(--btn-gray-color);
    border-color: var(--btn-gray-color);
    color: var(--color-gray-4);
    &:hover {
        background-color: var(--btn-gray-color-hover);
        border-color: var(--btn-gray-color-hover);
    }
    & svg path {
        fill: var(--color-gray-4);
    }
}
