.icon {
    display: block;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 0;
    position: relative;
}

.icon,
.icon svg {
    width: 16px;
    height: 16px;
}

.icon-size-xs,
.icon-size-xs svg {
    width: 8px;
    height: 8px;
}

.icon-size-m,
.icon-size-m svg {
    width: 20px;
    height: 20px;
}

.icon-size-l,
.icon-size-l svg {
    width: 24px;
    height: 24px;
}

.icon-size-xl,
.icon-size-xl svg {
    width: 32px;
    height: 32px;
}

.icon-size-xxl,
.icon-size-xxl svg {
    width: 40px;
    height: 40px;
}

.icon-primary svg path {
    fill: var(--primary);
}

.icon-white svg path {
    fill: var(--white);
}