.icon {
    display: block;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 0;
    position: relative;
}

.icon,
.icon svg {
    width: 16px;
    height: 16px;
}

.icon-size-s,
.icon-size-s svg {
    width: 8px;
    height: 8px;
}

.icon-size-l,
.icon-size-l svg {
    width: 20px;
    height: 20px;
}

.icon-primary svg path {
    fill: var(--primary);
}