.chat-sidebar {
  width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: var(--white);
  border-right: 1px solid var(--light);
  transition: all 0.3s;
}

.chat-sidebar__header,
.chat-sidebar__search {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--white);
  border-bottom: 1px solid var(--light);
}

.chat-sidebar__header {
  height: 68px;
  padding: 0 var(--spacing-10);
  justify-content: space-between;

  & .logo-container {
    margin-left: var(--spacing-10);
  }
}

.chat-sidebar__search {
  height: 68px;
  padding: 0 10px;
  justify-content: center;
}

.chat-sidebar__content {
  padding: 10px 0 10px 10px;
  height: calc(100% - 204px);
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.chat-sidebar__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 68px;
  background: var(--white);
  border-top: 1px solid var(--light);
}

.menu-actions {
  width: 100%;

  & .nav {
    justify-content: space-between;
    width: 100%;
    padding: 0 var(--spacing-10);
  }
}
